<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">

  <div class="navbar-inner">

    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"> <%= image_tag 'mapcake-logotext.png' %></a>

  </div>
</div>
<!-- topbar ends -->

<!-- Main content - start -->
<div class="ch-container">

  <!-- Map section - start -->
  <div class="row">
    <div id="map"></div>
  </div>
  <!-- Map section - end -->



  <div class="row">
    <!-- Text editor section - start -->
    <div class="box col-sm-6 col-lg-9">
      <div class="box-inner">
        <div class="box-header well" data-original-title="">
          <h2>
            <i class="glyphicon glyphicon-cog"></i> Process data
          </h2>
        </div>

        <div class="box-content">
          <div id="selectedtext" style="display: none">
            You selected: <span id="selectedtext_value"></span><br><br>
            <div class="radio">
              <label>
                <input type="radio" id="choice_location" name="choice" value="location" checked>Add as location<br>
               </label>
            </div>

            <div class="radio">
              <label>
                <input type="radio" id="choice_tag" name="choice" value="tag" checked>Tag it (get related stories)<br><br>
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input id="checked_slider" type="checkbox"> Use the version with the time slider (in development - refresh the page before ticking/unticking)
              </label>
            </div>

            <br>
            <a class="btn btn-success" id="selected_text_confirm" href="#">Map it</a>

          </div>
          <div id="default_description">
            Select a word (or an expression in your text) to implemented it on the map.
          </div>
        </div>

        <input type="hidden" id="selection" value=""/>
      </div>

      <br /><br />

      <div class="box-inner">
        <div class="box-header well" data-original-title="">
          <h2>
            <i class="glyphicon glyphicon-pencil"></i> Text Editor
          </h2>
        </div>

        <div class="box-content">
          <form role="form">
            <div class="form-group">
              <label for="articletitle">Title:</label>
              <input type="text" class="form-control" id="articletitle" value="Ferguson protests target retailers across US">
            </div>
            <div class="form-group">
              <label for="texteditor">Body:</label>
              <textarea class="form-control" rows="20" id="texteditor">Demonstrators have forced the closure a shoppingsj mall near Ferguson in the US state of Missouri, at the start of the holiday shopping season as protests over the killing of an unarmed black teen by a white police officer target some retailers around the country.

This is police brutality.

After a quiet Thanksgiving Day, protesters were out in force on Friday to vent their anger at Monday's decision by a grand jury not to indict Officer Darren Wilson in the August 9 shooting death of 18-year-old Michael Brown in the St Louis suburb.

Similar protests were staged in other cities, including New York, Chicago, Seattle and San Francisco, Pittsburg, and Oakland in California, on Black Friday, when many retailers offer deep discounts and shoppers traditionally turn out in droves.

The shooting of Michael Brown took place at 2969 Canfield Drive, Ferguson.
              </textarea>
            </div>

            <div class="form-actions">
              <a href="/user/managerecords" class="btn btn-success">Publish the story</a>
              <a href="/user/managerecords" class="btn">Cancel</a>
            </div>

          </form>
          <!-- <div id="editor"></div> -->
        </div>
      </div>
    </div>
    <!-- Text editor section - end -->

    <!-- Right-hand side column - start -->
    <div class="box col-sm-6 col-lg-3">
      <div class="box-inner">
        <div class="box-header well" data-original-title="">
          <h2>
            <i class="glyphicon glyphicon-map-marker"></i> Info for map
          </h2>
        </div>

        <div class="box-content">
          <h4>Locations</h4>
          <div id="location_list">
          </div>

          <br>

          <h4>Tags</h4>
          <div id="tag_list">
          </div>

          <div id="processNotification" style="display:none;">
            <hr><i>Getting related stories from the New York Times...</i>
          </div>
        </div>
      </div>

    </div>
    <!-- Right-hand side column - end -->
  </div>

  <hr>

  <footer class="row">
    <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://usman.it" target="_blank">Muhammad
      Usman</a> 2012 - 2014</p>

    <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
    href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
  </footer>

</div>
<!-- Main content - end -->



<!-- external javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<%= render 'shared/includedJs' %>

<script>
    initializeMap();
</script>